/*STYLE HECHO POR EDUARD POP*/
@font-face {
    font-family:"spiderman";
    src: url("../recursos/spiderman.ttf");
}

@font-face {
    font-family: "glitch";
    src: url("../recursos/glitch.ttf");
}
/*--------------AQUI EMPIEZA LA BARRA DE NAVEGACION---------------*/

body, html{
    background: black;
    width: 100%;
    height: 100%;
    margin: auto;
    
}
div.container{
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
}
nav{
    height: auto;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 55px;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: spiderman;
    font-size: 200%;
    text-decoration: none;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
li:after {
    text-align: center;
    display: block;
    content: '';
    border-bottom: solid 2px #AF0000;
    padding-bottom: 1%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

li:hover:after {
    text-align: center;
    transform: scaleX(1);
}


/*-------------AQUI SE ACABA LA BARRA DE NAVEGACION----------------*/
/*----------------AQUI EMPIEZA EL FOOTER-------------------*/

div.footer{
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
}
img.logofooter{
    display: inline-block;
    float: left;
}
h3.terminos{
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
}

/*-------------AQUI ACABA EL FOOTER-------------------------*/
.obras{
    position: relative;
    display: inline-block;
    padding: 10%;
    font-family: spiderman;
    font-size: 200%;
    text-align: center;
    color: #fff;
    margin: auto;
}
/*---------@MEDIA DE LA BARRA DE NAVEGACION----------- */
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        background-color: black;
        position: fixed;
        width: 100%;
        height: 50%;
        top: 57px;
        left: -300%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
        
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    
    #check:checked ~ ul{
        left:0;
    }
    .presentacion{
        padding: auto;
        margin: auto;
        z-index: 1;
    }
    
}
/*-----------------FIN @MEDIA DE LA BARRA DE NAVEGACION----------*/